#button-addon2 {
  box-sizing: content-box;
}
.fontsize {
  font-size: 30px;
}

.stylecard {
  border: 0;
  // font-size: 30px;
}
.overview {
  .row {
    .col-sm-3:not(:last-child) {
      border-right: 2px solid var(--gray-color-light);
    }
  }
}

.styleinputtext {
  border-left: none !important;
  position: absolute;
  top: 0;
  left: 90%;
  background-color: transparent !important;
  svg {
    padding: 0.75rem;
  }
}
.styleinputtextintable {
  @extend .styleinputtext;
  left: 75%;
}
.styletextintable {
  @extend .styleinputtext;
  left: 85%;
}
.marginlefttobuttom{
  margin-left: 20px;
}
.left65 {
  @extend .styleinputtext;
  left: 65%;
}