.spancolor {
  color: var(--gray-color);
}
th[scope="col"] {
  color: var(--main-color);
}
.styletoaddphoto {
  background-color: var(--gray-color-dark);
  padding: 24px 30px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
}
.styledivcamera {
  // background-color: white;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 44px;
  svg {
    font-size: 38px;
  }
}
// styletoaddphoto
.colorblue {
  color: var(--main-color) !important;
}
