// @import "../scss/component/dashboardhome.scss";
@import "./styles/layout/navstyle.scss";
@import "./styles/pages/overview.scss";
@import "./styles/breadcrumb.scss";
@import "./styles/pages/styleallproduct.scss";
@import "./styles/pages/settings.scss";
@import "./styles/pages/markting.scss";
@import "./styles/table.scss";
@import "./styles/pages/analyics.scss";
@import "./styles/pages/settings.scss";
@import "./styles/pages/markting.scss";
